:root {
    --base-font: sans-serif;

    --step--2: clamp(0.78rem, calc(0.77rem + 0.03vw), 0.80rem);
    --step--1: clamp(0.94rem, calc(0.92rem + 0.11vw), 1.00rem);
    --step-0: clamp(1.13rem, calc(1.08rem + 0.22vw), 1.25rem);
    --step-1: clamp(1.35rem, calc(1.28rem + 0.37vw), 1.56rem);
    --step-2: clamp(1.62rem, calc(1.50rem + 0.58vw), 1.95rem);
    --step-3: clamp(1.94rem, calc(1.77rem + 0.87vw), 2.44rem);
    --step-4: clamp(2.33rem, calc(2.08rem + 1.25vw), 3.05rem);
    --step-5: clamp(2.80rem, calc(2.45rem + 1.77vw), 3.82rem);

    --space-3xs: clamp(0.31rem, calc(0.31rem + 0.00vw), 0.31rem);
    --space-2xs: clamp(0.56rem, calc(0.54rem + 0.11vw), 0.63rem);
    --space-xs: clamp(0.88rem, calc(0.85rem + 0.11vw), 0.94rem);
    --space-s: clamp(1.13rem, calc(1.08rem + 0.22vw), 1.25rem);
    --space-m: clamp(1.69rem, calc(1.62rem + 0.33vw), 1.88rem);
    --space-l: clamp(2.25rem, calc(2.16rem + 0.43vw), 2.50rem);
    --space-xl: clamp(3.38rem, calc(3.24rem + 0.65vw), 3.75rem);
    --space-2xl: clamp(4.50rem, calc(4.33rem + 0.87vw), 5.00rem);
    --space-3xl: clamp(6.75rem, calc(6.49rem + 1.30vw), 7.50rem);

    /* One-up pairs */
    --space-3xs-2xs: clamp(0.31rem, calc(0.20rem + 0.54vw), 0.63rem);
    --space-2xs-xs: clamp(0.56rem, calc(0.43rem + 0.65vw), 0.94rem);
    --space-xs-s: clamp(0.88rem, calc(0.74rem + 0.65vw), 1.25rem);
    --space-s-m: clamp(1.13rem, calc(0.86rem + 1.30vw), 1.88rem);
    --space-m-l: clamp(1.69rem, calc(1.40rem + 1.41vw), 2.50rem);
    --space-l-xl: clamp(2.25rem, calc(1.73rem + 2.61vw), 3.75rem);
    --space-xl-2xl: clamp(3.38rem, calc(2.81rem + 2.83vw), 5.00rem);
    --space-2xl-3xl: clamp(4.50rem, calc(3.46rem + 5.22vw), 7.50rem);

    /* Custom pairs */
    --space-s-l: clamp(1.13rem, calc(0.65rem + 2.39vw), 2.50rem);

    --color-bg: #E5E0DD;
    --color-primary: #BE6E46;
    --color-dark: #2F2D2E;
    --color-tertiary: #BFA490;
    --color-accent: #85604D;

}

html {
    scroll-behavior: smooth;
    margin: 0;
    font-family: 'Outfit', sans-serif;
    background-color: var(--color-bg);
    color: var(--color-dark);
}

body {
    margin: 0;
}

nav p {
    font-weight: 600;
    font-size: 2rem;
}

h1 {
    font-size: var(--step-5);
    font-weight: 300;
    margin-bottom: 0;
    color: var(--color-bg);
}

h2 {
    font-size: var(--step-2);
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 3rem;
    color: var(--color-bg);
}

h3 {
    font-size: var(--step-3);
    margin-left: 2rem;
}

.hero {
    width: 100%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.leftHero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url(src/assets/heropatio.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 95%;
    text-align: center;
}

.hero p {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    font-size: var(--step-3);
}

button {
    font-family: 'Outfit', sans-serif;
    color: var(--color-dark);
    border-style: none;
    background-color: var(--color-bg);
    font-weight: 700;
    font-size: var(--step-1);
    padding: var(--space-s);
    box-shadow: 4px 4px 8px var(--color-dark);
}

.centerButton {
    text-align: center;
}

.primaryColor {
    color: var(--color-primary);
}

.accentColor {
    color: var(--color-accent);
}

.categorySelection {
    display: flex;
    overflow: scroll;
}

.categorySelection p {
    font-size: var(--step-1);
    font-weight: 400;
    text-align: center;
    margin-top: 0;
}

.categorySelection img {
    position: absolute;
    width: var(--space-2xl);
    height: var(--space-2xl);
}

.categoryCircle {
    width: var(--space-3xl);
    height: var(--space-3xl);
    background-color: var(--color-tertiary);
    border-radius: 100px;
    margin-left: 5vw;
    margin-right: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.first {
    margin-left: auto;
}


.last {
    margin-right: auto;
}

.slideshowContainer {
    display: flex;
    width: 100%;
    height: 16rem;
}

.slideshowContainer img {
    object-fit: none;
    width: 100%;
}

.slideshowContainer p {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    transform: scale(-1);
    font-size: var(--step-3);
}