nav {
    display: flex;
    margin-left: 2rem;
}

.rightNav {
    margin-left: auto;
    margin-right: 7%;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
}

input {
    height: 2rem;
    border-style: none;
    border-radius: 4px;
    background-color: var(--color-bg);
    box-shadow: 4px 4px 8px var(--color-shadow);
    width: 30vw;
    padding-left: 2rem;
    margin-right: 2vw;
    font-size: 1rem;
}

.material-symbols-outlined {
    font-size: 2rem;
}

.searchNav .material-symbols-outlined {
    position: absolute;
}

p {
    font-weight: 600;
    font-size: 2rem;
}

.primaryColor {
    color: var(--color-primary);
}

.darkColor {
    color: var(--color-dark);
}

.accentColor {
    color: var(--color-accent);
    font-weight: 400;
}

.link {
    text-decoration: none;
}

footer {
    background-color: var(--color-tertiary);
}

footer div {
    display: flex;
}